<h1>{{Name}}</h1>
<div class="repositoryPane">
  <div class="tagList">
    <div *ngFor="let tag of tags" (click)="onSelect(tag)" [class.selected]="tag === selectedTag">
      <span class="tag label">{{tag}}</span>
    </div>
  </div>
  <div class="details">
    <div *ngIf="selectedTag; then tagBlock else promptBlock"></div>
    <ng-template #tagBlock>
      <h1 class="title">{{name}}:{{selectedTag}}</h1>
      <div *ngIf="selectedImageSet; then detailBlock else loadingBlock"></div>
      <ng-template #detailBlock>
        <div>Last update: {{selectedImageSet.date}}</div>
        <div class="tags">Tags:
          <span class="tag label" *ngFor="let tag of selectedImageSet.tags">{{tag}}</span>
        </div>
        <div class="platforms">Platforms
          <span class="platform label" *ngFor="let platform of selectedImageSet.platforms">
            {{platform.os}}/{{platform.architecture}}
          </span>
        </div>
        <div class="readme">
          <markdown [data]=readme></markdown>
        </div>
      </ng-template>
      <ng-template #loadingBlock>
        <span>Loading image details</span>
      </ng-template>
    </ng-template>
    <ng-template #promptBlock>
      <span>Choose a tag to view details.</span>
    </ng-template>
  </div>
</div>