
.repositoryPane {
    display: flex;
    flex-direction: row;
}

.tagList {
    min-width: 20%;
}

.selected {
    font-weight: bold;    
}

.readme {
    background-color: #FCFCFC;
    border: 0.05em solid #999999;
    border-radius: 0.3em;
    padding: 0.2em;
}

.tagLabel {
    margin: 0.1em;
    padding: 0.1em 0.4em;
    background-color: lightblue;
    border: 0.05em solid blue;
    color: darkblue;
    display: inline-block;
    border-radius: 0.1em;
}

.details {
    padding: 10px;
}