<div class="pure-g repo-head-lg">
  <div class="pure-u-1-6">
    <img src="assets/buoy.svg" class="image-icon" />
  </div>
  <div class="pure-u-5-6 image-title">
    <div class="repohead">{{name}}</div>
    <div class="copyBuffer">
      <span>{{fullPath}}</span>
      <span (click)="copyPath()"><img src="assets/clipboard.svg" class="action-icon"
          title="Copy path to clipboard" /></span>
      <span class="copyMessage" [class.hidden]="!showCopyMsg">Copied!</span>
    </div>
  </div>
</div>
<div *ngIf="errorMessage.length > 0" class="errorBox">{{errorMessage}}</div>
<div class="pure-g">
  <div class="pure-u-1 pure-u-sm-1-6">
    <div class="search">
      <input type="text" class="search" [(ngModel)]="searchQuery" placeholder="search" />
    </div>
    <div class="sort" >
      <select [(ngModel)]="sort">
        <option *ngFor="let opt of sortOptions" [value]="opt">
          {{opt}}
        </option>
      </select>
      <img *ngIf="!sortAscending" src="assets/arrow-thick-down.svg" class="action-icon" (click)="toggleSortOrder()" />
      <img *ngIf="sortAscending" src="assets/arrow-thick-up.svg" class="action-icon" (click)="toggleSortOrder()"/>
    </div>
    <div *ngIf="filteredTags" class="tag-list filtered">
      <span class="tag-count">{{filteredTags.length}} tags</span>
      <div *ngFor="let tag of filteredTags" (click)="selectTag(tag)">
        <span class="badge tag" [class.selected]="tag === selectedTag"
          [class.loading]="!tagMap[tag] && !errorMap[tag]">{{tag}}</span>
        <span class="badge_ornament errored" *ngIf="errorMap[tag]">
          <img class="action-icon errored" src="assets/exclamation-outline.svg" title={{errorMap[tag]}} />
        </span>
      </div>
    </div>
    <div class="tag-list">
      <div *ngFor="let tag of tags" (click)="selectTag(tag)">
        <span class="badge tag" [class.selected]="tag === selectedTag"
          [class.loading]="!tagMap[tag] && !errorMap[tag]">{{tag}}</span>
        <span class="badge_ornament errored" *ngIf="errorMap[tag]">
          <img class="action-icon errored" src="assets/exclamation-outline.svg" title={{errorMap[tag]}} />
        </span>
      </div>
    </div>
  </div>
  <div class="pure-u-1 pure-u-sm-5-6">
    <div class="image-detail">
      <div class="repo-head-sm">
        <h3>{{name}}:{{selectedTag}}</h3>
      </div>
      <div *ngIf="selectedTag; then tagBlock else promptBlock"></div>
      <ng-template #tagBlock>
        <div *ngIf="errorMap[selectedTag]; then errorBlock else imageBlock"></div>
        <ng-template #errorBlock>
          <div>
            <h3>The selected tag could not be loaded.</h3>
            <div style="margin: 2em;">
              <span>{{errorMap[selectedTag]}}</span>
            </div>
            <div>
              <span class="label">Tag:</span><span class= "badge tag">{{selectedTag}}</span>
            </div>
            <div>
              <span class="label">Tag digest:</span><code>{{tagMap[selectedTag]}}</code>
            </div>
          </div>
        </ng-template>
        <ng-template #imageBlock>
          <div *ngIf="selectedImageSet; then detailBlock else loadingBlock"></div>
          <ng-template #detailBlock>
            <div>
              <span class="label">Last update:</span> {{selectedImageSet.date | date : "medium" }}
              <img *ngIf="canDelete" src="assets/trash.svg" title="Delete Image" class="action-icon"
                (click)="delete(selectedImageSet)" />
            </div>
            <div>
              <span class="label">Tags:</span>
              <span class="badge tag" *ngFor="let tag of selectedImageSet.tags" [class.selected]="tag === selectedTag"
                (click)="selectTag(tag)">{{tag}}</span>
            </div>
            <div>
              <span class="label">Platforms:</span>
              <span class="badge platform" (click)="selectPlatform(platform)"
                [class.selected]="selectedPlatform.label === platform.label"
                *ngFor="let platform of selectedImageSet.platforms">
                {{platform.label}}
              </span>
            </div>
            <app-document [repository]="name" [image]="selectedImage"></app-document>
          </ng-template>
          <ng-template #loadingBlock>
            <span>Loading image details</span>
          </ng-template>
        </ng-template>
      </ng-template>
      <ng-template #promptBlock>
        <span>Choose a tag to view details.</span>
      </ng-template>
    </div>
  </div>
</div>