<p>
  {{Name}}
</p>
<div class="repositoryPane">
  <div style="overflow:scroll;" class="tagList">
    <ul>
      <li *ngFor="let tag of tags" (click)="onSelect(tag)" [class.selected]="tag === selectedTag">
        <span class="tagLabel">{{tag}}</span>
      </li>
    </ul>
  </div>
  <div class="details">
    <div *ngIf="selectedTag; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <h1 class="title">{{name}}:{{selectedTag}}</h1>
      <div *ngIf="selectedImage; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock>
        <div>Last update: {{selectedImage.date}}</div>
        <div>Tags:</div>
        <span class="tagLabel" *ngFor="let tag of selectedImage.tags">{{tag}}</span>
        <div>Supported platforms
          <ul>
            <li *ngFor="let platform of selectedImage.platforms">
              <span>{{platform.os}}/{{platform.architecture}} - {{getDigestFor(selectedImage, platform)}}</span>
            </li>
          </ul>
        </div>
      </ng-template>
      <ng-template #elseBlock>
        <span>Loading image details</span>
      </ng-template>
    </ng-template>
    <ng-template #elseBlock>
      <span>Choose a tag to view details.</span>
    </ng-template>
  </div>
</div>