$orange-light: #FD4;
$orange: #D81;
$orange-dark: #930;

$blue-light: #EEF;
$blue: #66F;
$blue-dark: #22A;

$grey-light: #EEE;
$grey: #AAA;
$grey-dark: #555;

$green-light: #CFC;
$green: #3B3;
$green-dark: #060;

$purple-light: #CBF;
$purple: #A0D;
$purple-dark: #407;

$white: #FFF;
$black: #000;

$appBackground: $blue;
$appForeground: $white;

$errorForeground: #A00;
$errorBackground: #FDD;