$orange-light: #FD4;
$orange: #D81;
$orange-dark: #930;

$blue-light: #EEF;
$blue: #66F;
$blue-dark: #22A;

$grey-light: #EEE;
$grey: #AAA;
$grey-dark: #555;

$white: #FFF;

$appBackground: $blue;
$appForeground: $white;
