$orange-light: #FD4;
$orange: #D81;
$orange-dark: #930;

$yellow-light: #FF8;
$yellow: #DD1;
$yellow-dark: #870;

$red-light: #FDD;
$red: #D00;
$red-dark: #700;

$blue-light: #EEF;
$blue: #66F;
$blue-dark: #22A;

$grey-light: #EEE;
$grey: #AAA;
$grey-dark: #555;

$green-light: #CFC;
$green: #3B3;
$green-dark: #060;

$purple-light: #CBF;
$purple: #A0D;
$purple-dark: #407;

$white: #FFF;
$black: #000;

$vuln-high: $red;
$vuln-medium: $orange;
$vuln-low: $yellow-light;
$vuln-unknown: $grey;

$appBackground: $blue;
$appForeground: $white;

$errorForeground: #A00;
$errorBackground: #FDD;