@import "colors";

markdown pre {
    border: 0.05em dotted $grey;
    background: $grey-light;
    padding: 0.25em;
}

markdown code {
    background: $grey-light;
    white-space: normal;
    padding: 0em 0.1em;
    margin: 0.05em;
}

markdown img {
    width: 100%;
}

.document div {
    background-color: $white;
    color: $black;
}

.banner div {
    background-color: $white;
    color: $black;
}