@import "colors";

.documentViewer {
    margin-top: 1em;
}

span.tab {
    padding: 0.2em 0.4em;
    margin: 0.1em 0.2em;
    cursor: default;
}

span.tab.selected {    
    font-weight: bold;
}

div.tab {
    padding: 0.25em;
    margin-top: 0.14em;    
}

span.tab.loading {
    border-color: $grey;
    background-color: $grey-light;
}

.tab.scanning {
    border-color: $errorForeground;
    background-color: $errorBackground;
    color: $errorForeground;
}

.tab.document {
    border-color: $green-dark;
    background-color: $green-light;
    color: $green-dark;
}

.tab.searching {
    border-color: $grey-dark;
    color: $grey-dark;
    background-color: $grey-light;
}

.tab.error {
    border-color: $errorForeground;
    background-color: $errorBackground;
    color: $errorForeground;
}

div.tab.searching {
    text-align: center;
    padding: 10em 0em;
}

.document div {
    border: 0.01em $grey solid;
    padding: 0.4em;
}

.tab.history {
    border-color: $purple-dark;
    background-color: $purple-light;
    color: $purple-dark;
}

.historyItem {
    margin-top: 1em; 
}

.date {
    float: right;
    margin-right: 0.5em;
    font-size: 75%;
}

.type {
    margin-left: 0.5em;
    font-size: 75%;
    font-weight: bold;
}

.command {
    margin: 0.1em;
    padding: 0.2em;
    background-color: $grey-light;
    color: $grey-dark;
    border: 0.01em $grey solid;
}

.command > pre {
    margin: 0.2em;
    white-space: pre-wrap;
}

div.args {    
    border-bottom: 0.01em $grey solid;
    color: $grey-dark;
    padding: 0.2em;
}
