button {
    margin: 1em;
}

.preview {
    margin: 1.5em;
}

.preview .badge {
    margin-bottom: 1em;
}

form > * {
    margin: 1em;
    display: block;
}

.token {    
    border: 0.05em solid #999;
    color: #999;
    background-color: #CCC;
    padding: 0.4em;
    word-break: break-all;
    margin: 3em;
}

.toggle-button {
    color: #999;
    padding: 0.4em;
    text-align: center;
    cursor: pointer;
}