<div *ngIf="sessionService.sessionToken; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <div style="text-align: center; margin-top: 5em;">
    <div>Connected to {{sessionService.activeRegistry}} as {{sessionService.userLabel}}.</div>
    <div>Last login: {{sessionService.sessionStart}}</div>
    <div>Session expires: {{sessionService.sessionExpiry}}</div>
    <button (click)="logout()">Log out</button>
  </div>
  <div *ngIf="!showToken" class="token-button" (click)="showToken=!showToken">Show token</div>
  <div *ngIf="showToken" class="token-button" (click)="showToken=!showToken">Hide token</div>
  <div *ngIf="showToken" class="token" >
    <span>{{sessionService.sessionToken}}</span>
  </div>

</ng-template>
<ng-template #elseBlock>
  <div class="formBox">
    <form (ngSubmit)="submit()">
      <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="textBox" [(ngModel)]="username"
        name="username" placeholder="Username" [hidden]="anonymous" />
      <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="textBox" [(ngModel)]="password"
        name="password" type="password" placeholder="Password" [hidden]="anonymous" />
      <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="textBox" [(ngModel)]="registry"
        name="registry" placeholder="Registry" [readonly]="registryLocked" />
      <span>Stay logged in:
        <input [(ngModel)]="remember" name="remember" type="checkbox" />
      </span>
      <span>
        Anonymous:
        <input [(ngModel)]="anonymous" name="anonymous" type="checkbox" />
      </span>
      <div style="display: flex; align-items: center; justify-items: left;">
        <button (click)="submit()">Submit</button>
        <span [class.hidden]="!(isErrored)" class="errorBox">{{errorMessage}}</span>
      </div>
    </form>
  </div>
</ng-template>