# A complete multi-worker deployment targeting Docker Hub,
# with CoreOS Clair integration

version: '3.7'
services:
  pgsql:
    image: postgres:11.2
    environment:
    - POSTGRES_PASSWORD=abc123
  redis:
    image: redis
  clair:
    image: quay.io/coreos/clair:v2.1.0
    restart: on-failure
    volumes:
    - './clair-config.yaml:/etc/clair/config.yaml'
  whalerator:
    build: ../..
    ports: 
    - "80:80"
    volumes:
    - './whalerator-service.yaml:/app/config.yaml'
    - './samplekey.pem:/app/key.pem'
    - 'registrydata:/var/lib/registry'
    - 'indexdata:/var/data/whalerator/indexes'
  indexer:
    build: ../..
    volumes:
    - './whalerator-indexer.yaml:/app/config.yaml'
    - './samplekey.pem:/app/key.pem'
    - 'registrydata:/var/lib/registry'
    - 'indexdata:/var/data/whalerator/indexes'
  scanner:
    build: ../..
    volumes:
    - './whalerator-securityworker.yaml:/app/config.yaml'
    - './samplekey.pem:/app/key.pem'
    - 'registrydata:/var/lib/registry'
    - 'indexdata:/var/data/whalerator/indexes'
volumes:
  registrydata:
  indexdata: