<div class="documentViewer">
  <div *ngIf="!image; then imageLoading else imageDocs"></div>
  <ng-template #imageLoading>Loading image</ng-template>
  <ng-template #imageDocs>
    <span class="tab history" (click)="selectHistory()" [class.selected]="isHistory(selected)">History</span>
    <div *ngIf="!image.documents; then docsLoading else docs"></div>
    <ng-template #docsLoading>
      <span class="tab searching" [class.selected]="!selected">Searching</span>
      <div class="tab searching" *ngIf="!selected">Searching for documentation.</div>
    </ng-template>
    <ng-template #docs>
      <span class="tab error" *ngIf="image.documents.length === 0">No docs found.</span>
      <span class="tab document" *ngFor="let document of image.documents" (click)="select(document)" [class.selected]="selected === document">{{document.name}}</span>
      <div class="tab document" *ngIf="isDocument(selected)">
        <div class="frame">
          <markdown [data]="selected.content"></markdown>
        </div>
      </div>
    </ng-template>
    <div class="tab history" *ngIf="isHistory(selected)">
      Four score and seven minutes ago...
    </div>
  </ng-template>
</div>