<div id="docViewer" class="documentViewer">
  <div *ngIf="!image; then imageLoading else imageDocs"></div>
  <ng-template #imageLoading>Loading image</ng-template>
  <ng-template #imageDocs>
    <span class="tab history" (click)="selectHistory()" [class.selected]="isHistory(selected)">History</span>
    <span *ngIf="scanningEnabled()" class="tab scanning" (click)="selectScan()" [class.selected]="isScan(selected)">
      <span *ngIf="image.scanResult">{{getScanHeadline()}}</span>
      <span *ngIf="!image.scanResult">Requesting scan</span>
    </span>
    <span *ngIf="banner && !searchStatus && !image.documents" class="tab banner" (click)="selectBanner()" [class.selected]="isBanner(selected)">{{bannerTitle}}</span>
    <span class="tab document" *ngFor="let document of image.documents" (click)="select(document)"
      [class.selected]="selected === document">
      {{document.name}}
      <img *ngIf="document.closeable" class="action-icon" src="assets/close.svg" title="Close document" (click)="close(document)" />
    </span>
    <span *ngIf="searchStatus" class="tab searching" [class.selected]="!selected">{{searchStatus}}</span>
    <div class="tab searching" *ngIf="!selected">
      <img src="assets/search.svg" style="width: 25%; opacity: 0.33;" title="Searching for documentation" />
    </div>
    <div class="tab banner" *ngIf="isBanner(selected)">
      <div class="frame">
        <!-- banner markdown does not get the link interception that documents do, so it can link to app routers like /catalog or even other repos -->
        <markdown id="bannerViewer" [data]="banner"></markdown>
      </div>
    </div>
    <div class="tab document" *ngIf="isDocument(selected)">
      <div class="frame">
        <markdown id="mdViewer" [data]="selected.content" (ready)="onMarkdownLoad($event);"></markdown>
      </div>
    </div>
    <div class="tab scanning" *ngIf="isScan(selected)">
      <app-scan-result [scan]="selected"></app-scan-result>
    </div>
    <div class="tab history" *ngIf="isHistory(selected)">
      <div class="historyItem" *ngFor="let item of image.history">
        <span class="type">{{item.type | uppercase}}</span>
        <span class="date">{{item.created | date : "medium"}}</span>
        <div class="command">
          <div class="args" *ngIf="item.args">
            <code>{{item.args}}</code>
          </div>
          <pre>{{item.command}}</pre>
        </div>
      </div>
    </div>
  </ng-template>
</div>