@import "styles/markdown";
@import "styles/tabs";
@import "styles/colors";
@import "styles/shapes";

// should match breaks from purecss
$width-break-md: 48em;
$width-break-sm: 35.5em;

a {
    margin: 0.3em;
}

.box {
//    border: 0.1em solid $blue-dark;
//    border-radius: 0.2em;
    background-color: $appForeground;
    padding: 1em;
    @media (min-width: $width-break-md) {
        margin-left: 2.5em;                
        margin-right: 2.5em;                
        margin-bottom: 0.25em;                
    }
    @media (max-width: $width-break-md) {
        margin-top: 1em;
    }    
}

.box.app {
//    @extend %box;
    @media (min-width: $width-break-md) {
        margin-top: 5em;
    }
    @media (max-width: $width-break-md) {
        margin-top: 1em;
    }
}

.box.about {
//    @extend %box;
    padding: 0.2em 1em;
    overflow: auto;
}

.formBox {
    width: 20em;
    margin: 0 auto;
    text-align: center;
}

.textBox {
    width: 100%;
}

.errorBox {
    color: $errorForeground;
    background-color: $errorBackground;
    border: 0.05em solid $errorForeground;
    padding: 0.25em 1em;
}

span.working {
    padding: 0.25em 1em;
}

tr.working {
    opacity: 0.25;
}

input.search {
    text-align: right;    
    width: 100%;
    padding: 0em;
    border: none;
}

div.search {
    margin-right: 0.5em;
    padding: 0.1em;
    border: 1px dotted black;
}

.tag-count {
    font-size: small;
    font-style: italic;
    margin-top: 1em;
    margin-bottom: 1em;
}

nav {
    text-align: right
}

.catalog {
    width: 100%;
}

.action-icon {
    width: 0.75em;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.image-icon {
    width: 3em;
    margin: 1.5em;
    float: right;
}

.repohead {
    font-size: 2em;
    font-weight: bold;
    margin-top: 0.5em;
}

.image-detail {
    padding: 0.5em;
    @media (min-width: $width-break-sm) {
        border-left: 0.05em dotted #222;
    }
}

.badge {
    border-width: 0.05em;
    border-style: solid;
    border-radius: 0.2em;    
    padding: 0.1em 0.3em;
    margin: 0.1em;
    display: inline-block;
    word-break: break-all;
}

.loading {
    opacity: 0.2;
}

.tag-list {
    padding: 0.5em;
    display: flex;
    @media (max-width: $width-break-sm) {
        flex-flow: row wrap;
        max-height: 10em;
        overflow: auto;
    }
    @media (min-width: $width-break-sm) {
        flex-direction: column;
        text-align: right;
    }
}

.tag-list span {
    cursor: default;
}

.repo-head-lg * {
    @media (max-width: $width-break-sm) {
        display: none;
    }
}

.repo-head-sm * {
    @media (min-width: $width-break-sm) {
        display: none;
    }    
}

table tr:nth-child(2n) {
    background-color: $blue-light;
}

table.catalog td {
    border-style: none;
}

.badge.tag-count {
    background-color: $blue-dark;
    border-color: $blue-dark;
    color: $appForeground;
}

.badge.selected {
    font-weight: bold;
}

.badge.tag {
    background-color: $blue-light;
    border-color: $blue-dark;
    color: $blue-dark;
}

.badge.platform {
    background-color: $orange-light;
    border-color: $orange-dark;
    color: $orange-dark;
}

td.right {
    text-align: right;
}

.textured {
    background-color: $appBackground;
    background-image: $anchor;
}
