/* You can add global styles to this file, and also import other style files */
markdown img {
    max-width: 100%;
}

markdown {
    max-width: 100%;
}

markdown li {
    list-style-type: none;     
}

markdown li:before {
    content: "-";
    padding-right: 0.3em;
}