<h2>Repositories</h2>

<table class="pure-table pure-table-horizontal catalog">
  <thead>
    <tr>
      <td>Name</td>
      <td class="right">Tags</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="(!repos) && (!errorMessage)">
      <td colspan="2" style="text-align: center;">Loading...</td>
    </tr>
    <tr *ngIf="(errorMessage)">
      <td colspan="2" style="text-align: center;"><span class="errorBox">{{errorMessage}}</span></td>
    </tr>
    <tr *ngFor="let repo of repos">
      <td>
        <img src="assets/buoy.svg" class="action-icon" />
        <a routerLink="/repo/{{repo.name}}">{{repo.name}}</a>
      </td>
      <td class="right">
        <span *ngIf="repoError[repo.name]" class="errorBox">{{repoError[repo.name]}}</span>
        <span class="badge dark-blue">{{repo.tags}}</span>
        <img *ngIf="repo.canDelete" src="assets/trash.svg" alt="Delete Image" class="action-icon" (click)="delete(repo)"/>
      </td>
    </tr>
  </tbody>
</table>