<h2>{{sessionService.registryLabel}}</h2>

<table class="pure-table pure-table-horizontal catalog">
  <thead>
    <tr>
      <td>Repository</td>
      <td class="right">Tags</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="(!repos) && (!errorMessage)">
      <td colspan="2" style="text-align: center;">Loading...</td>
    </tr>
    <tr *ngIf="(errorMessage)">
      <td colspan="2" style="text-align: center;"><span class="errorBox">{{errorMessage}}</span></td>
    </tr>
    <tr *ngFor="let repo of repos" [class.working]="repoWorking[repo.name]">
      <td>
        <img src="assets/buoy.svg" class="action-icon" />
        <a routerLink="/r/{{repo.name}}">{{repo.name}}</a>
      </td>
      <td class="right">
          <span *ngIf="repoError[repo.name]" class="errorBox">{{repoError[repo.name]}}</span>
          <span *ngIf="repoWorking[repo.name]" class="working">{{repoWorking[repo.name]}}</span>
          <span class="badge tag-count">{{repo.tags}}</span>
        <img *ngIf="repo.canDelete" src="assets/trash.svg" title="Delete Repository" class="action-icon" (click)="delete(repo)"/>
      </td>
    </tr>
  </tbody>
</table>