# A complete multi-worker deployment with internal registry, Clair, and nginx frontend on port 80
# Note if changing ports, it must be adjusted both here and in the whalerator-*.yaml configs, or
# the registry name and image labels in the UI will be incorrect.

version: '3.7'
services:
  pgsql:
    image: postgres:11.2
    environment:
    - POSTGRES_PASSWORD=abc123
  redis:
    image: redis
  clair:
    image: quay.io/coreos/clair:v2.1.0
    ports:
    - "6060:6060"
    restart: on-failure
    volumes:
    - './clair-config.yaml:/etc/clair/config.yaml'
  registry:
    image: registry:2.7
    environment:
    - REGISTRY_STORAGE_CACHE_BLOBDESCRIPTOR=redis
    - REGISTRY_REDIS_ADDR=redis:6379
    - REGISTRY_REDIS_DB=1
    volumes:
    - 'registrydata:/var/lib/registry'
    - './registry.yaml:/etc/docker/registry/config.yml'
  whalerator:
    build: ../..
    volumes:
    - './whalerator-service.yaml:/app/config.yaml'
    - './samplekey.pem:/app/key.pem'
    - 'registrydata:/var/lib/registry'
    - 'indexdata:/var/data/whalerator/indexes'
  index_worker:
    build: ../..
    volumes:
    - './whalerator-indexer.yaml:/app/config.yaml'
    - './samplekey.pem:/app/key.pem'
    - 'registrydata:/var/lib/registry'
    - 'indexdata:/var/data/whalerator/indexes'
  security_worker:
    build: ../..
    volumes:
    - './whalerator-securityworker.yaml:/app/config.yaml'
    - './samplekey.pem:/app/key.pem'
    - 'registrydata:/var/lib/registry'
    - 'indexdata:/var/data/whalerator/indexes'
  nginx:
    image: nginx:1.17.10
    restart: unless-stopped
    ports:
    - "80:80"    
    volumes:
    - "./nginx.conf:/etc/nginx/conf.d/default.conf"
volumes:
  registrydata:
  indexdata: